canvas {

  position: absolute;


}


.headingText {
  text-align: center;
}

.topBar {
  width: calc(100% - 300px);
  height: 75px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: orange;

}
.leftBar {

  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(79, 109, 192);

}

.remainder {
  position:absolute;
  top: 75px;
  left: 300px;
  width: calc(100% - 300px);
  height: calc(100% - 75px);

}