canvas {

  position: absolute;


}


.headingText {
  text-align: center;
}

.topBar {
  width: calc(100% - 250px);
  height: 75px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: orange;
  border-radius: 30px;

}
.leftBar {

  width: 250px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(79, 109, 192);
  border-radius: 20px;

}

.remainder {
  position:absolute;
  top: 75px;
  left: 250px;
  width: calc(100% - 250px);
  height: calc(100% - 75px);

}